# Default ignored files
/../../Music./.idea/shelf/
/../../Music./.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Music./.idea/httpRequests/
# Datasource local storage ignored files
/../../Music./.idea/dataSources/
/../../Music./.idea/dataSources.local.xml
